@use "../../index.scss" as index;
.deliveryData {
  width: 40%;
  min-width: fit-content;
  row-gap: 0.5rem;
  font-family: index.$font2;
  font-size: 1rem;
  white-space: nowrap;
  padding: 1rem;
  @include index.boxShadow;
  max-height: 18rem;
  min-height: 14rem;
}
.title {
  font-size: 1.3rem;

  margin-bottom: 1rem !important;
  font-weight: 500;
  margin-top: 1rem !important;
}
.deliveryData p {
  font-weight: 400;
  margin: 0;
  line-height: 1.5rem;
}
@media (width<=700px) {
  .deliveryData {
    width: 90% !important;
  }
}
