@use "../../index.scss" as index;
.title {
  font-size: 1.3rem;
  font-weight: 500;
}
.deliveryMethodContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 40%;
  min-width: fit-content;
  font-family: index.$font2;
  font-size: 0.9rem;
  white-space: nowrap;
  padding: 1rem;
  @include index.boxShadow;
}
.title {
  grid-column-start: 1;
  grid-column-end: 3;
}
.col_2 {
  text-align: right;
}
.deliveryMethodContainer input {
  margin-right: 1rem;
  transform: scale(1.5);
}
.deliveryMethodContainer input:checked ~ label {
  font-weight: 500;
}
.deliveryMethodContainer label,
.deliveryMethodContainer input {
  cursor: pointer;
}
