.productListComponent {
  display: flex;
  height: 5rem;
  border-bottom: 1px solid rgb(125, 125, 125);
  gap: 2rem;
  align-items: center;
  padding: 0 2rem 0 0.5rem;
}
.image {
  max-width: 5rem;
  max-height: 5rem;
}
.title {
  flex-grow: 1;
  min-width: 12rem;
  word-wrap: break-word;
}

.trash {
  font-size: 1.2rem;
  cursor: pointer;
  background-color: white;
  border: none;
}
.trash:hover {
  color: rgb(198, 0, 0);
}
.priceFirst,
.priceEnd {
  min-width: 6rem;
  text-align: right;
  word-wrap: break-word;
}

@media only screen and (max-width: 1350px) {
  .productListComponent {
    gap: 1rem;
  }
}
@media only screen and (max-width: 900px) {
  .price {
    min-width: 5rem;
  }
  .productListComponent {
    gap: 0.5rem;
    padding: 0;
    font-size: 0.9rem;
  }
  .title {
    min-width: 4rem;
  }
  .priceFirst {
    display: none;
  }
}
