@use "../../index.scss" as index;
.summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 40%;
  min-width: fit-content;
  row-gap: 0.5rem;
  font-family: index.$font2;
  font-size: 0.9rem;
  white-space: nowrap;
  padding: 1rem;
  @include index.boxShadow;
}
.col_2 {
  text-align: right;
}
.title {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: 500;
}
.endPrice {
  font-size: 1.3rem;
  padding-top: 1rem;
  border-top: 1px solid grey;
  font-weight: 500;
}
