@use "../../index.scss" as index;
.summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 40%;
  min-width: fit-content;
  row-gap: 0.5rem;
  font-family: index.$font2;
  font-size: 0.9rem;
  white-space: nowrap;
  padding: 1rem;
  @include index.boxShadow;
  max-height: 18rem;
  min-height: 14rem;
}
.col_2 {
  text-align: right;
}
.title {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: 500;
}
.endPrice {
  font-size: 1.3rem;
  padding-top: 1rem;
  border-top: 1px solid grey;
  font-weight: 500;
}
.btn {
  text-align: right;
  grid-column-start: 1;
  grid-column-end: 3;
  position: relative;
  margin-top: 2rem;
}
.helperBtn {
  width: 60%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 10;
  opacity: 0;
}
