@use "../../index.scss" as index;

.usersContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.4rem 3rem;
  font-family: index.$font2;
  font-weight: 300;
  position: relative;
}
.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 0.6rem 1rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.492);
}
.prop {
  width: 23%;
}
.id {
  width: 31%;
}
