@use "../../index.scss" as index;
.product {
  padding: 1rem;
  text-align: center;
  width: 14rem;
  position: relative;
  padding: 1rem;
}
.image {
  max-width: 12rem;
  max-height: 14rem;
  opacity: 0;
}
.loaded {
  display: none !important;
}
.imgLoaded {
  opacity: 1;
}
.loader {
  width: 48px;
  height: 48px;
  border: 4px solid black;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 8rem;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.imgBox {
  height: 14rem;
  @include index.flexCenter("column");
}
.product:hover {
  border-radius: 12px;
  box-shadow: 1px 1px 4px 0px rgba(85, 86, 99, 0.513);
  cursor: pointer;
}
.product:hover .addToCart {
  opacity: 1;
}
.addToCart {
  padding: 1rem;
  opacity: 0;
  font-size: 1.5rem;
}
.addToCart:hover {
  color: rgb(76, 213, 74);
}
.price {
  text-align: left;
  font-size: 1.2rem;
}
.title {
  font-weight: 600;
  text-align: left;
  font-size: 1.1rem;
  height: 2.2rem;
}
.cartPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
