@use "../../index.scss" as index;
.search {
  flex-grow: 1;
  text-align: center;
  min-width: 250px;
}
.search form input[type="text"] {
  border-radius: 5rem;
  height: 1.5rem;
  padding: 1rem;
  width: 50%;
  border: none;
  font-size: 1.4rem;
  -webkit-box-shadow: 1px 1px 7px -1px rgba(66, 68, 90, 1);
  -moz-box-shadow: 1px 1px 7px -1px rgba(66, 68, 90, 1);
  box-shadow: 1px 1px 7px -1px rgba(66, 68, 90, 1);
}

.search form input[type="text"]:focus {
  -webkit-box-shadow: 1px 1px 7px -13px index.$primaryColor;
  -moz-box-shadow: 1px 1px 7px -1px index.$primaryColor;
  box-shadow: 1px 1px 7px -1px index.$primaryColor;
  color: index.$primaryColor;
  outline: none;
}
