.cart {
  width: 70%;
  max-width: 1400px;
  min-width: 650px;
  margin: 0 auto 5rem auto;
}
.summaryDeliveryContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  align-items: end;
}
.empty {
  text-align: center;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.emptyCartText {
  font-size: 1.8rem;
}
.icon {
  margin-left: 1rem;
}
