.cart {
  width: 70%;
  max-width: 1400px;
  min-width: 650px;
  margin: 0 auto 0 auto;
  padding-bottom: 5rem;
}
.summaryDeliveryContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  align-items: end;
}

@media (1000px<=width<=1300px) {
  .cart {
    width: 95%;
    min-width: 200px;
  }
}
@media (width<1000px) {
  .summaryDeliveryContainer {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .summaryDeliveryContainer > * {
    min-width: 200px;
  }
}
