.homeSection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1350px) {
  .homeSection {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1050px) {
  .homeSection {
    grid-template-columns: repeat(3, 1fr);
  }
}
