.homeSection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  max-width: 80rem;
  margin: 3rem auto;
}
@media (max-width: 1300px) {
  .homeSection {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (750px<max-width<= 950px) {
  .homeSection {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (650px<width<= 750px) {
  .homeSection {
    font-size: 10px;
  }
}
@media (width<= 650px) {
  .homeSection {
    grid-template-columns: repeat(2, 1fr);
  }
}
