@use "../index.scss" as index;
.panelContainer {
  width: 80%;
  display: flex;
  margin: 2rem auto 0 auto;
  @include index.boxShadow;
  overflow: hidden;
  min-height: 30rem;
}
.nav {
  width: 20%;
  background-color: rgb(144, 144, 144);
}
.navEl {
  list-style-type: none;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 1.3rem 0;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  font-size: 1.1rem;
}
.contentContainer {
  width: 95%;
  background-color: white;
}
.navEl:hover {
  background-color: rgb(110, 110, 110);
}
.navEl:active,
.active {
  color: white;
}

.icon {
  font-size: 2rem;
  line-height: 1rem;
  vertical-align: center;
  margin-right: 1.5rem;
}
@media (width<=1370px) {
  .panelContainer {
    width: 95%;
  }
}
@media (width<1160px) {
  .navEl span:last-child {
    display: none;
  }
  .panelContainer {
    width: 95%;
  }
  .nav {
    width: 5%;
    min-width: 3rem;
  }
  .navEl {
    padding: 0.2rem;
  }
}
