@use "../../index.scss" as index;

.amount {
  font-size: 1.6rem;
  display: flex;
  border: 1px solid black;
  align-items: center;
}

.btn {
  background-color: white;
  height: 3.5rem;
  width: 3rem;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
.btn:hover {
  color: index.$primaryColor;
}
.amount span {
  width: 6rem;
  text-align: center;
}
.btn:first-of-type {
  border-right: 1px solid black;
}
.btn:last-of-type {
  border-left: 1px solid black;
}
.amountInfo {
  line-height: 2rem;
}
.amountLeft {
  text-align: right;
  line-height: 2rem;
}
