@use "../../index.scss" as index;
.infoContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 15rem;
  background-color: white;
  padding: 1rem;
  @include index.boxShadow;
  border-radius: 0.8rem;
  right: 1rem;
  top: 6rem;
  z-index: 2;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.btnLink {
  width: 100%;
}
