.loaderContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-self: center;
  position: absolute;
  box-sizing: border-box;
}
.loader {
  border: solid black;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loaded {
  display: none !important;
}
