.header {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  margin-top: 1rem;
  display: flex;
}
.logo {
  margin: 1rem auto 0 auto;
}
.icon {
  position: absolute;
  right: 0;
}
.contentPage {
  height: 100vh;
}
