@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap");
$primaryColor: #0d76ff;
$primaryColorLight: #bad8ff;
$primaryColorDark: #0950ac;
$footerBackgroundColor: rgb(120, 120, 126);
$footerTitleColor: white;
$footerFontColor: black;
$font: "Nunito", sans-serif;
$font2: "Roboto", sans-serif;

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
  margin: 0;
}
@mixin flexCenter($direction) {
  flex-direction: $direction;
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin hover {
  opacity: 0.7;
  transition-timing-function: ease-out;
  transition-duration: 300ms;
  color: $primaryColor;
}
@mixin boxShadow {
  border-radius: 0.2rem;
  box-shadow: 3px 3px 13px -4px rgba(66, 68, 90, 1);
}
